@model Fantasy_Football_Manager.Models.Liga
@{
    ViewData["Title"] = "Create";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fantasy Football Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Creare Liga</h1>

@using (Html.BeginForm())
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(x => x.NumeLiga, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.NumeLiga, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.NrMaxUseri, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.NrMaxUseri, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </div>

    </div>
}